@use '../utils/variables' as var;

$fonts: var.$font-weights;

@each $key, $value in fonts {
  @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-#{$key}.woff2'),
      ('../../fonts/Montserrat-#{$key}.woff');
    font-weight: $value;
    font-style: normal;
    font-display: swap;
  }
}
